[submodule "3rdparty/SDL"]
	path = 3rdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-3.4.16
[submodule "3rdparty/SDL_mixer"]
	path = 3rdparty/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
	branch = release-3.2.4
[submodule "3rdparty/flic"]
	path = 3rdparty/flic
	url = https://github.com/Pieshka/flic.git
