// SPDX-License-Identifier: MIT

#include <windows.h>

#define STRINGIZE2(x) #x
#define STRINGIZE(x) STRINGIZE2(x)

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

IDI_ICON1 ICON DISCARDABLE "icon.ico"

VS_VERSION_INFO VERSIONINFO

	FILEVERSION APP_VERSION_MAJOR,APP_VERSION_MINOR,APP_VERSION_PATCH,0
	PRODUCTVERSION APP_VERSION_MAJOR,APP_VERSION_MINOR,APP_VERSION_PATCH,0

	FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
	FILEFLAGS 0
	FILEOS VOS_NT_WINDOWS32
	FILETYPE VFT_APP
	FILESUBTYPE 0
	
BEGIN

	BLOCK "StringFileInfo"
	BEGIN
	
		BLOCK "041504E2"
		BEGIN
		    VALUE "CompanyName", "DraHma"
			VALUE "FileDescription", "Polanie CD - Level Editor"
			VALUE "FileVersion", STRINGIZE(APP_VERSION_MAJOR) "." STRINGIZE(APP_VERSION_MINOR) "." STRINGIZE(APP_VERSION_PATCH)
			VALUE "LegalCopyright", "Copyright \xA9 1997"
			VALUE "ProductName", "Polanie CD - Level Editor"
            VALUE "ProductVersion", STRINGIZE(APP_VERSION_MAJOR) "." STRINGIZE(APP_VERSION_MINOR) "." STRINGIZE(APP_VERSION_PATCH)
			VALUE "OriginalFilename", "polanie-editor2.exe"
		END
		
	END
	
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0415, 0x04E2
	END

END
	